.miaosha {
    position: absolute;
    left: 165px;
    top: 20px;
    padding-left: 20px;
    margin: 20px 30px;
    border-left: 2px solid #c81523;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    font-size: 16px;
    padding: 0 30px;
    font-weight: 700;
    color: #000;
}

.sk_con {
    float: right;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    font-family: 'icomoon';
    padding: 0 20px;
}

.sk_bd ul li {
    width: 283px;
    margin-right: 22.5px;
    margin-top: 20px;
}

.sk_bd ul li:nth-of-type(4n) {
    margin-right: 0px;
}

.sk_bd ul li {
    float: left;
}

.sk_bd h5 {
    font-weight: 400;
    color: #666666;
    padding: 10px;
    width: 273px;
    font-size: 14px;
}

.sk_bd em {
    margin-left: 10px;
    color: #e60012;
    font-size: 22px;
    font-style: normal;
}

.sk_bd del {
    color: #a4a4a4;
    font-weight: 700;
    font-size: 14px;
}

.sk_bd .yishou {
    font-size: 12px;
    padding-left: 10px;
}

.sk_bd .yishou i {
    color: #e60012;
}

.sk_bd .yishou em {
    font-size: 12px;
    margin-left: 0;
}

.sk_bd .yishou .bar {
    position: relative;
    height: 10px;
    width: 130px;
    border: #e60012 1px solid;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.sk_bd .bar::before {
    position: absolute;
    content: '';
    left: -1px;
    height: 10px;
    width: 83%;
    background-color: #e60012;
}

.sk_bd a {
    width: 100%;
    height: 50px;
    background-color: #b1191a;
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
}